[run]
source = funannotate2
omit =
    # Omit test files
    */tests/*
    # Omit __main__.py since it's mostly CLI handling
    funannotate2/__main__.py
    # Omit version file
    funannotate2/__init__.py

[report]
exclude_lines =
    # Skip any pragma comments
    pragma: no cover

    # Skip defensive assertion code
    raise NotImplementedError

    # Skip abstract methods
    @abstractmethod

    # Skip pass statements
    pass

    # Skip debug-only code
    def __repr__
    if self\.debug

    # Skip main block
    if __name__ == .__main__.:
